body{
    background-color: #fff;
}

.header{
    padding: 40px;
    color: #000;
    margin: 0 auto;
    margin-bottom: 40px;
}

button .putar{
    font-weight:700;
    font-size: large;
}

.header h1, p{
    text-align: center;
}
.wheel{
    display: flex;
    justify-content: center;
    position: relative;
}

.center-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: none;
    background: linear-gradient(
        145deg, #171717, #444245
    );
    box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;   
    /* border-style: dotted; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #a6a6a6;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid black;
    position: absolute;
    top:50%;
    right: -220%;
    transform: translateY(-50%) ;
}

.textarea{
    background-color: white;
    caret-color: black;
    resize: none;
    color: black;
}

.inputArea{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
